.reflog-preview {
  display: table;
}

.reflog-row {
  display: table-row;
}

.reflog-cell {
  outline: 1px pink solid;
  display: table-cell;
  width: 160px;
  height: 5em;
  overflow-y: scroll;
}

.reflog-item:nth-child(n+2) {
  border-top: 0.5px blue solid;
}

.reflog-sha1, .reflog-message {
  font-family: monospace;
}
